<div class="child" id="note">
  <%= f.hidden_field :state, :value => @publication.state  %><br />
  <%= f.text_area :content, :cols => 60, :rows => 4 %>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <%= remove_child_link 'remove', f %>
</div>
