<% title "Edit Publication" %>

<%= render :partial => 'form' %>

<p>
  <%= link_to "Show", @publication if permitted_to? :show, :publications %> |
  <%= link_to "View All", publications_path if permitted_to? :index, :publications %>
</p>
