body {
  background-color: #444F51;
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  font-size: 12px;
}

a img {
  border: none;
}

a {
  color: #0000FF;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#container {
  width: 75%;
  margin: 0 auto;
  background-color: #FFF;
  padding: 20px 40px;
  border: solid 1px black;
  margin-top: 20px;
}

#flash_notice, #flash_error {
  width: 75%;
  padding: 5px 8px;
  margin: 30px 0;
  margin-right: 280px;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

#errorExplanation {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 10px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 8px;
}

#errorExplanation ul {
  margin: 2px 24px;
}

#errorExplanation ul li {
  font-size: 10px;
  list-style: disc;
}

p.explanation {
    font-size: 0.8em;
    font-style: italic;
}

/* Navigation */

div#nav {
    height: 30px;
}

div#user_nav {
    float: right; 
    font-size: 0.9em; 
    position: relative;
}

div#site_nav {
    float: left; 
    font-size: 0.9em; 
    position: relative;    
}

/* Publications */
#publications {
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
}

#publications h2 {
  font-size: 12px;
  margin: 5px;
}

#publications p {
  font-size: 10px;
  opacity: 0.8;

}

/* Boxes */ 

div.line_of_boxes {
        position:relative;
        padding-bottom: 10px;
}

div.box_in_line {
        float: left;
        margin-left: 5px;
        padding: 5px;
        height: 100%;
}

div.box_in_line_content {
        border: 1px solid #ccc;
        padding: 5px;
        height: 100%;
}

div.box_bottom{
        clear:both;
}

/* Auto complete */

div.auto_complete {
  width: 350px;
  background: #fff;
}
div.auto_complete ul {
  border:1px solid #888;
  margin:0;
  padding:0;
  width:100%;
  list-style-type:none;
}
div.auto_complete ul li {
  margin:0;
  padding:3px;
}
div.auto_complete ul li.selected {
  background-color: #ffb;
}
div.auto_complete ul strong.highlight {
  color: #800; 
  margin:0;
  padding:0;
}

.child {
  padding-left:10px;
  padding-top:5px;
  padding-bottom:5px;
}

@media print {
    body {
        background-color: #FFF;
    }
    
    #container {
        width: auto;
        margin: 0;
        padding: 0;
        border: none;
    }

    #pdf_link {
        display: none;
    }

    div#nav {
        display: none;
    }
    
    #version_box {
        display: none;
    }

/*    div.line_of_boxes {
        page-break-before: always;
    }    
*/        
}

#version_box {
  width: 75%;
  background-color: #FFD700;
  border: solid 1px #B8860B;
  padding: 5px 8px;
  margin: 10px 0;  
}

#help_explanation_box {
  width: 75%;
  background-color: #DDD;
  border: solid 1px #AAA;
  padding: 5px 8px;
  margin-top:10px;
  margin-left:auto;
  margin-right:auto;
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  font-size: 10px;  
}

/* Pretty tables */

table.pretty {
  border-collapse: collapse;
}

.pretty td, .pretty th {
  padding: 4px 10px;
  border: solid 1px #AAA;
  display: table-cell;
  vertical-align: top;
}

.pretty th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}

.pretty th .asc {
  background-image: url(/images/up_arrow.gif);
}

.pretty th .desc {
  background-image: url(/images/down_arrow.gif);
}

li .handle {
    font-size: 10px;
    cursor: move;
    color: #777;
}
