<% title "Edit User" %>

<%= render :partial => 'form' %>

<p>
  <%= link_to "Show", @user if permitted_to? :show, :users %> |
  <%= link_to "View All", users_path if permitted_to? :index, :users %>
</p>
